* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #2e99b9;
    color: #333;
}

header {
    background-color: #000000;
    color: white;
    padding: 5px 40px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
}

nav a:hover {
    color: #f0a500;
}

.section {
    padding: 40px;
}
.section h1 {
    color: white;
    margin-bottom: 20px;
}

.services {
    padding: 40px
}
.services h1 {
    color: white;
    margin-bottom: 20px;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.card {
    background: rgb(243, 253, 255);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: 0.3s ease;
}

.card:hover {
    transform: scale(1.03);
}
.card img {
    width: 100%;
    height: 70%;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
}
.bostik { background-color: #282760; color: white; }
.sika { background-color: #ffc511; color: black; }
.boysen { background-color: #00533c; color: white; }
.creviseal { background-color: white; color: black; }

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: #1f2933;
    color: white;
}

footer {
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 15px;
}

html, body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
}
main {
    flex: 1;
}

.carousel img {
    max-height: 400px;   /* adjust as needed */
    object-fit: cover;   /* fills the container nicely */
    width: 100%;         /* full width */
}
.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5); /* semi-transparent black */
    padding: 20px;
    border-radius: 10px;
    bottom: 20px; /* distance from bottom */
}
.carousel-caption h5 {
    font-size: 1.8rem;
}
.carousel-caption p {
    font-size: 1rem;
}
.diagonal-img-wrapper img {
    width: 100%;
    height: auto;
    object-fit: cover;
    /* Clip the right side diagonally */
    clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
}
.diagonal-img-wrapper-left img {
    width: 100%;
    height: auto;
    object-fit: cover;
    /* Clip the right side diagonally */
    clip-path: polygon(15% 0, 100% 0, 100% 100%, 0 100%);
}
.feature-section {
    background-color: #f8f9fa; /* light gray background */
}

.feature-section h2 {
    margin-bottom: 20px;
}

.feature-section p {
    font-size: 1.1rem;
    margin-bottom: 20px;
}
@media (max-width: 768px) {
    .diagonal-img-wrapper img {
        clip-path: none; /* remove diagonal on mobile */
    }
}